<h2 class='mypage' >マイページ</h2>
    <div class='user_show'>
        <div>
            <%= attachment_image_tag @user, :profile_image,  format: 'jpeg',size: "400x400", fallback: "no_image.jpg", class: "rounded-circle" %>
        </div>
        <div>
            <h6>ニックネーム</h6> 
        </div>
        <div>
            <h4><%= @user.nick_name %></h4>
        </div>
        <div>
            <h6>自己紹介</h6> 
        </div>
        <div>
            <h5><%= @user.introduction %></h5>
        </div>
        <div>
            <p>フォロー<%= @user.followers.count %></p>
            <p>フォロワー<%= @user.followings.count %></p>
        </div>
        <div>
        <% if current_end_user.following?(@user) %>
            <%= link_to "フォロー外す", public_end_user_relationships_path(@user.id), method: :delete, class: "btn btn-primary" %>
        <% else %>
            <%= link_to "フォローする", public_end_user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
        <% end %>
        </div>
    </div>
    <table class='user_show'>
        <%if @user.id == current_end_user.id %>
    
        <tr>
            <th class='info_top'>名前</th>
            <td class='info_top'><%= @user.user_name %></td>
        </tr>
    
        <tr>
            <th class='info_top'>郵便番号</th>
            <td class='info_top'><%= @user.mail_number %></td>
        </tr>
    
        <tr>
            <th class='info_top'>住所</th>
            <td class='info_top'><%= @user.adress %></td>
        </tr>
    
        <tr>
            <th class='info_top'>電話番号</th>
            <td class='info_top'><%= @user.tel %></td>
        </tr>
    
        <tr>
            <th class='info_top'>メールアドレス</th>
            <td class='info_top'><%= @user.email %></td>
        </tr>
        <% end %>
    </table>
    <% if @user.id == current_end_user.id %>
    <div class='user_show'>
        <div>
            発送先 <%= link_to '追加',public_shipping_addresses_path, class: "btn btn-outline-primary" %>
        </div>
    
        <div class='user_show_add'>
            注文履歴 <%= link_to '一覧を見る',public_orders_path, class: "btn btn-outline-primary" %>
        </div>
        <div class='user_show_add'>
            販売履歴 <%= link_to '一覧を見る',buyer_public_orders_path, class: "btn btn-outline-primary" %>
        </div>
        <div class='user_show_edit'>
            登録情報 <%= link_to "編集する", edit_public_end_user_path(@end_user), class: "btn btn-outline-success btn-lg" %>
        </div>
    </div>
    <% end %>
    <table>
    <h1 class='user_show'>投稿一覧</h1>
    <% @items.each do |item| %>
    <div class='user_show'>
        <div>
            <div>
                <%= link_to public_item_path(item.id) do %>
                <%= attachment_image_tag item, :image, format: 'jpeg', size: "400x300", fallback: "no_image.jpg"%>
                <% end %>
            </div>
            <p>
                <%= link_to item.name, public_item_path(item.id) %>
            </p>
            <p>
                <% if item.is_sale %>
                    販売中
                <% else %>
                    完売済
                <% end %>
            </p>
            <p>
                ¥<%= item.non_price.to_s(:delimited) %>
            </p>
            <p>
                <%= item.created_at.strftime('%Y/%m/%d') %>
            </p>
        </div>
    </div>
    <% end %>

