<table class='item_show'>
    <tr>
        <td>
            <%= attachment_image_tag(@item, :image, size: "300x300", fallback: "no_image.jpg") %>
        </td>
    </tr>
    <tr>
        <td>
            <%= @item.name %>
        </td>
    </tr>
    <tr>
        <td>
            <%= @item.contents %>
        </td>
    </tr>
    <tr>
        <td>
            ￥<%= @item.add_tax_price.to_s(:delimited) %> 円 (税込)
        </td>
    </tr>
    <tr>
        <td>
            <% if @item.is_sale == true %>
                販売中
            <% else %>
                販売停止中
            <% end %>
        </td>
    </tr>
    <tr>
        <td>
            <%= @item.created_at.strftime('%Y/%m/%d') %>
        </td>
    </tr>
</table>
