<h2 class='order_show'>注文履歴詳細</h2>
<div class='order_show'>
    <div>
        <table>
            <tr>
                <th>購入者</th>
                <td><%= @order.end_user.user_name %></td>
            </tr>
            <tr>
                <th>注文日</th>
                <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
                <th>配送先</th>
                <td>〒<%= @order.mail_number %> <%= @order.delivery_address %><br><%= @order.direction %></td>
            </tr>
            <tr>
                <th>支払方法</th>
                <td><%= @order.payment_method %></td>
            </tr>
        </table>
    </div>
    <div class='info_top'>
        <table>
            <tr>
                <th class='info'>出品者</th>
                <th class='info'>商品名</th>
                <th class='info'>単価(税込)</th>
                <th class='info'>数量</th>
                <th class='info'>小計</th>
            </tr>
            <% @order_items.each do |order_item| %>
            <tr>
                <td class='info'><%= order_item.item.end_user.user_name %></td>
                <td class='info'><%= order_item.item.name %></td>
                <td class='info'><%= order_item.tax_included_price %>円</td>
                <td class='info'><%= order_item.number %>個</td>
                <td class='info'><%= ((order_item.tax_included_price)*(order_item.number)) %>円</td>
            </tr>
            <% end %>
        </table>
    </div>
    <div class='info_top'>商品合計　　　<%= @order.total_price %>円</div>
    <div>送料　　　　　<%= @order.shipping_fee %>円</div>
    <div>請求金額合計　<%= (@order.total_price + @order.shipping_fee) %>円</div>
</div>