<h2 class='shipping_edit'>配送先編集</h2>
<div>
    <%= form_with model: @shipping_address,url: public_shipping_address_path(@shipping_address) , local:true do |f| %>
    <table class='shipping_edit'>
        <tr>
            <th>郵便番号(ハイフンなし)</th>
            <td><%= f.text_field :mail_number %></td>
        </tr>
        <tr>
            <th>住所</th>
            <td><%= f.text_area :delivery_address %></td>
        </tr>
        <tr>
            <th>宛名</th>
            <td><%= f.text_field :direction %></td>
        </tr>
        <tr>
            <td>
                <%= f.submit '変更内容を保存', class: "btn btn-success"  %>
            </td>
        </tr>
    <% end %>
</div>
  
