<h1 class='cart_title'>ショッピングカート</h1>
<p class='cart_title'>※お一つずつの購入しかできません※</p>
<div class='cart_title'><%= link_to 'カートを空にする', destroy_all_public_cart_items_path, method: :delete, class: "btn btn-outline-danger btn-lg" %></div>
<table class='cart'>
    <tr>
        <th class='info'>商品名</th>
        <th class='info'>単価(税込)</th>
        <th class='info'>数量</th>
        <th class='info'>小計</th>
        <th class='info'></th>
    </tr>
    <% @cart_items.each do |cart| %>
    </tr>
    <td class='cart_item'><%= attachment_image_tag cart.item, :image, format: 'jpeg', size: "125x100" %> <%= cart.item.name %></td>
    <td><%= cart.item.add_tax_price.to_s(:delimited)%>円</td>
    <td><%= form_with model: cart, url:public_cart_item_path(cart), local:true do |f| %>
         <%= f.select :number, options_for_select((1..10), {selected: cart.number} ) %>
         <%= f.submit '変更' %>
     　 <% end %>
    <td><%= cart.add_tax_price_total %>円</td>
    </tr>
    <% end %>
</table>
<p class='cart_title'>合計金額 <%= current_end_user.total_price.to_s(:delimited) %>円</p>
<% if @cart_items.count > 0 %>
<div class='cart_title'><%=link_to "購入情報入力に進む", new_public_order_path, class: "btn btn-outline-success btn-lg" %></div>
<% end %>
