<h2 class='user_show'><%= @end_user.user_name %>さんの会員詳細</h2>
<table class='user_show'>
    <tr>
        <th class='info_top'>会員ID</th>
        <td class='info_top'><%= @end_user.id %></td>
    </tr>
    <tr>
        <th class='info_top'>ニックネーム</th>
        <td class='info_top'><%= @end_user.nick_name %></td>
    </tr>
    <tr>
        <th class='info_top'>氏名</th>
        <td class='info_top'><%= @end_user.user_name %></td>
    </tr>
    <tr>
        <th class='info_top'>郵便番号</th>
        <td class='info_top'><%= @end_user.mail_number %></td>
    </tr>
    <tr>
        <th class='info_top'>住所</th>
        <td class='info_top'><%= @end_user.adress %></td>
    </tr>
    <tr>
        <th class='info_top'>電話番号</th>
        <td class='info_top'><%= @end_user.tel %></td>
    </tr>
    <tr>
        <th class='info_top'>メールアドレス</th>
        <td class='info_top'><%= @end_user.email %></td>
    </tr>
</table>
<p class='user_show'>
    <%= link_to '注文履歴一覧を見る', admin_orders_path(@end_user), class: "btn btn-sm  btn-primary" %>
</p>