<h2 class='order_buyer'>販売履歴一覧</h2>
    <table class='order_buyer'>
        <tr class='order_buyer_info'>
            <th>購入日時</th>
            <th>ニックネーム</th>
            <th>購入者</th>
            <th>住所</th>
            <th></th>
            <th>購入品</th>
            <th>個数</th>
        </tr>
        <% @orders.each do |order| %>
          
        <tr class='order_buyer_info'>
            <td class='order_buyer_info'><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td class='order_buyer_info'><%= order.end_user.nick_name %></td>
            <td class='order_buyer_info'><%= order.end_user.user_name %></td>
            <td class='order_buyer_info'>〒<%= order.end_user.mail_number %></td>
            <td class='order_buyer_info'><%= order.end_user.adress %></td>
            <td class='order_buyer_info'><%= order.item.name %></td>
            <td class='order_buyer_info'><%= order.order_items.first.number %></td>
        </tr>
        <% end %>
    </table>
  </div>

</div>
