<h2>販売履歴一覧</h2>
    <table>
        <tr>
            <td>購入日時</td>
            <td>ニックネーム</td>
            <td>購入者</td>
            <td>住所</td>
            <td></td>
        </tr>
        <% @items.each do |item| %>
        <tr>
            <td><%= item.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
            <td><%= item.end_user.nick_name %></td>
            <td><%= item.end_user.user_name %></td>
             <td><%= item.end_user.mail_number %></td>
            <td><%= item.end_user.adress %></td>
            <td><%= item.item.name %></td>
        </tr>
        <% end %>
    </table>
  </div>

</div>
