<h2 class='order_index'>注⽂履歴⼀覧</h2>
<table class='order_index'>
    <tr>
        <th>注文日</th>
        <th>配送先</th>
        <th>支払金額</th>
        <th>注文詳細</th>
    </tr>
    <% @orders.each do |order| %>
    <tr>
        <td class='order_index_info'><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <td class='order_index_info'>
              〒<%= order.mail_number %><br>
              <%= order.delivery_address %><br>
              <%= order.direction %> <br>
        </td>
        <td class='order_index_info'><%= order.invoice %></td>
        <td class='order_index_info'><%= link_to '表示する', public_order_path(order),class: "btn btn-primary" %></td>
    </tr>
    <% end %>
</table>