<h2>注文情報入力</h2>
<div>
<%= form_with model: @order,url: check_public_orders_path, local:true do |f| %>
    <div>
        <%= f.radio_button :payment_method, :クレジット, checked: true %>
        <%= f.label :クレジット %>
    </div>
    <div>
        <%= f.radio_button :payment_method, :銀行 %>
        <%= f.label :銀行 %>
    </div>
    <div>お届け先</div>
    <div>
        <%= f.radio_button :adress_option, 0 , checked: true %>
        <%= f.label :ご自身の住所 %>
        <%= current_end_user.adress %>
        <%= current_end_user.user_name %>
    </div>
    <div>
        <%= f.radio_button :adress_option, 1 %>
        <%= f.label :登録済住所から選択 %>
        <%= f.collection_select(:shipping_addresses, current_end_user.shipping_addresses, :id, :delivery_address)  %>
    </div>
    <div>
        <%= f.radio_button :adress_option, 2 %>
        <%= f.label :新しいお届け先 %>
        <div>　　　郵便番号　　　　　<%= f.text_field :mail_number %></div>
        <div>　　　住所　　　　　　　<%= f.text_area :delivery_address %></div>
        <div>　　　宛名　　　　　　　<%= f.text_field :direction %></div>
    </div>
    <div>
    <%= f.submit '確認画面へ進む', class: "btn btn-primary" %>
    </div>
 <% end %>
