<p class='comment'>コメント件数：<%= item.comments.count %></p>
<% item.comments.each do |comment| %>
  <table class='comment'>
    <tr>
      <td>
        <%= attachment_image_tag comment.end_user, :profile_image, format: 'jpeg',size: "50x50", fallback: "no_image.jpg", class:"rounded-circle" %>
      </td>
      <td class='comment_name'>
        <%= comment.end_user.nick_name %>
      </td>
      <td>
        <%= comment.comment %>
      </td>
    <% if comment.end_user == current_end_user %>
      <td>
        <%= link_to "削除", public_item_comment_path(comment.item.id, comment.id),local: true, method: :delete, class:"btn btn-sm btn-danger" %>
      </td>
    <% end %>
    </tr>
  </table>
<% end %>
<div style="text-align:center">
<%= form_with(model: comment, method: 'POST', local: true, url: public_item_comments_path(item.id)) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "" %>
  <%= f.submit "コメントする" %>
<% end %>
</div>