<% if end_user_signed_in? %>
    <h4 class='item_index_new'><%= link_to " 投稿する！ ", new_public_item_path,  class: "btn btn-outline-success btn-lg"%></h4>
<% end %>
<h1 class='item_index_title'>グッズ一覧(全<%= @totals.count %>件)</h1>
<table>
</div>
<% @items.each do |item| %>
<div class='item_index'>
    <div>
        <div>
            <%= link_to public_item_path(item.id) do %>
            <%= attachment_image_tag item, :image, format: 'jpeg',size: "700x600", fallback: "no_image.jpg"%>
        </div>
        <div class='item_index_profil'>
            <%= attachment_image_tag item.end_user, :profile_image, format: 'jpeg',size: "80x80", fallback: "no_image.jpg", class: "rounded-circle" %> <%= item.end_user.nick_name %>
        </div>
        <p>
            商品名：<%= item.name %>
        </p>
        <p>
            <%= item.contents %>
        </p>
        <p>
            ジャンル：<%= item.genre.name %>
        </p>
        <p>
            ¥<%= item.non_price.to_s(:delimited) %>
        </p>
        <p>
            <%= item.created_at.strftime('%Y/%m/%d') %>
        </p>
        <% end %>
        <div class="item_<%= item.id %>">
            <%= render 'favorites', item: item %>
        </div>
    </div>
</div>
<% end %>
<div class='item_index'>
    <%= paginate @items %>
</div>
